body {
  margin: 0;
  padding: 0;
}
.slidermain {
  background: rgba(0,0,0,0.7);
}
.slidermain .row {
  margin: 0;
  padding: 0;
}
.slidermain .col-md-3,
.slidermain .col-md-9 {
  margin: 0;
  padding: 0;
}
.logo {
  height: 30em;
  width: 100%;
}
.navbar-collapse {
  margin: 0;
  padding: 0;
}
.navbar-nav {
  margin: 7.5px 0px !important;
}
.carousel-indicators .active {
  background-color: #004a99;
}
.menumain {
  margin: 0;
  padding: 0;
}
.menumain li:hover {
  background: #f00 !important;
}
.menumain li a {
  color: #004a99 !important;
  text-align: center;
  font-size: 1.3em;
}
.menumain li a:hover {
  color: #fff !important;
}
.menumain .activemenu {
  background: #f00;
}
.menumain .activemenu a {
  color: #fff !important;
}
.infomain {
  margin-top: -8px;
}
.infomain .row {
  margin: 0;
  padding: 0;
}
.infomain .row .col-md-3 {
  margin: 0;
  padding: 0;
}
.infomain .infoderecha .row {
  margin: 0;
  padding: 0;
}
.infomain .infoderecha .col-xs-3 {
  margin: 0;
  padding: 0;
}
.infomain .infoderecha .info {
  background: rgba(0,0,0,0.7);
  height: 120px;
  padding: 0px 2px;
  position: relative;
}
.infomain .infoderecha .info .infoimg img {
  height: 120px;
  opacity: 0.3;
  position: relative;
  width: 100%;
}
.infomain .infoderecha .info .infocenter img {
  left: 25%;
  position: absolute;
  top: 4%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 50%;
}
.infomain .infoderecha .info .infocenter img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}
.infomain .infoderecha .info .infocenter h2 {
  line-height: 0.5;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 60%;
  width: 100%;
}
.infomain .infoderecha .info .infocenter h2 a {
  color: #fff;
  font-size: 0.5em;
  text-decoration: none;
}
.obras {
  margin: 0;
  padding: 0;
}
.obras .infoobras {
  position: relative;
}
.obras .infoobras h2 {
  border-bottom: 2px #004a99 solid;
  color: #004a99;
  text-align: center;
}
.obras .infoobras img {
  position: relative;
  width: 100%;
}
.obras .infoobras .descripobra {
  background: rgba(0,0,0,0.7);
  bottom: 0;
  position: absolute;
  width: 100%;
}
.obras .infoobras .descripobra h3 {
  color: #fff;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container-fluid {
    margin: 0;
    padding: 0;
  }
  .navbar-nav {
    margin: 0 !important;
  }
  .navbar-default {
    background-color: #fff;
    border-color: transparent;
  }
  .navbar {
    border-radius: 0px;
  }
  .nav li {
    border: 1px solid #000;
  }
  .nav li a {
    padding: 10px 17px;
  }
}
@media (min-width: 1020px) {
  .logo {
    height: 28.2em;
  }
  .nav li a {
    padding: 10px 38px;
  }
  .carousel-indicators {
    margin: 0;
    padding: 0;
    right: 20px;
    width: auto;
    left: auto;
  }
  .infomain .infoderecha .info {
    height: 200px;
    padding-bottom: 5px;
  }
  .infomain .infoderecha .info .infoimg img {
    height: 190px;
  }
  .infomain .infoderecha .info .infocenter img {
    left: 30%;
    width: 100px;
  }
  .infomain .infoderecha .info .infocenter h2 {
    font-size: 3em;
  }
  .obras .horizontal {
    border-right: 1px solid #004a99;
  }
  .obras .vertical {
    border-left: 1px solid #004a99;
  }
}
@media (min-width: 1200px) {
  .logo {
    height: 33.5em;
  }
  .nav li a {
    padding: 10px 52px;
  }
  .infomain .infoderecha .info .infocenter img {
    left: 34%;
  }
}
@media (min-width: 1300px) {
  .logo {
    height: 36.2em;
  }
  .nav li a {
    padding: 10px 60px;
  }
}
@media (min-width: 1350px) {
  .logo {
    height: 37.5em;
  }
  .nav li a {
    padding: 10px 65px;
  }
}
@media (min-width: 1400px) {
  .logo {
    height: 40em;
  }
  .nav li a {
    padding: 10px 73px;
  }
}
